* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-bg-dark: #030303;
	--color-dark-red: #710707;
	--color-font-gold: #9d8665;

	--link-hover-color: #9D8665;
	--link-active-color: #7E6C51;

	--button-hover-color: #9D8665;
}