* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-bg-dark: #030303;
  --color-dark-red: #710707;
  --color-font-gold: #9d8665;
  --color-font-white: #fff;
  --color-font-black: #000;
  --link-hover-color: #9d8665;
  --link-active-color: #7e6c51;
  --button-hover-color: #9d8665;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: var(--color-bg-dark);
}
header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px;
}
header .header-navigation .navigation-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-font-white);
  font-family: Forum, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
header .header-navigation .navigation-logo img {
  width: 29px;
  height: 16px;
  margin-right: 25px;
}
header .header-navigation .navigation-list {
  display: none;
}
header .header-navigation .navigation-burger-menu .navigation-burger-menu__list {
  display: none;
}
header .header-navigation .navigation-burger-menu .navigation-burger-menu__list a {
  color: var(--color-font-white);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  min-width: 110px;
}
header .hero-section {
  padding-top: 5px;
}
header .hero-section .hero__title {
  color: var(--color-font-white);
  text-align: center;
  font-family: Forum, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
header .hero-section .hero__subtitle {
  color: var(--color-font-white);
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: 25px;
}
header .hero-section .hero_slider {
  padding-top: 50px;
  padding-bottom: 20px;
}
header .hero-section .hero_slider .hero_slider__image {
  margin: 0 auto;
  width: 100%;
  height: 285px;
}
header .hero-section .hero_slider .hero_slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
header .hero-section .hero_slider .hero_slider__controls .hero_slider__controls__slide_num p {
  color: var(--color-font-white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
header .hero-section .hero_slider .hero_slider__controls .hero_slider__controls__pagination {
  margin-left: 25px;
  margin-right: 25px;
}

main .hr_divider_long {
  width: 380px;
  height: 3px;
  background-color: var(--color-dark-red);
  border: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}
main .hr_divider_short {
  width: 150px;
  height: 2px;
  background-color: var(--color-dark-red);
  border: 0;
  margin: 10px 0;
}
main .virtual-tour {
  padding-top: 40px;
}
main .virtual-tour .virtual-tour__article .virtual-tour__article__title {
  color: var(--color-font-gold);
  font-family: Forum, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main .virtual-tour .virtual-tour__item {
  max-width: 280px;
  margin: 0 auto;
}
main .virtual-tour .virtual-tour__item .virtual-tour__item__img {
  width: 280px;
  height: 180px;
}
main .virtual-tour .virtual-tour__item .virtual-tour__item__title {
  color: var(--color-font-black);
  font-family: Forum, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 25px;
}
main .virtual-tour .virtual-tour__item .virtual-tour__item__info {
  color: var(--color-font-black);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
}
main .explore {
  background: var(--color-bg-dark);
  padding: 40px 0;
  margin-top: 40px;
}
main .explore .explore_article .explore_article__title {
  color: var(--color-font-white);
  font-family: Forum, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main .explore .explore_picture_reveal {
  margin-top: 40px;
}
main .explore .explore_picture_reveal img {
  width: 380px;
  height: 368px;
}
main .video_jouney {
  margin: 40px 0;
}
main .video_jouney .video_journey_title {
  color: var(--color-font-gold);
  font-family: Forum, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main .video_jouney .video_journey__video {
  padding-top: 20px;
}
main .video_jouney .video_journey__video img {
  width: 100%;
  height: 200px;
}
main .video_jouney .video_journey__video_slider {
  padding-top: 40px;
}
main .video_jouney .video_journey__video_slider .video_journey__video_slider__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .video_jouney .video_journey__video_slider .video_journey__video_slider__controls {
  text-align: center;
  padding-top: 40px;
}
main .gallery {
  background: var(--color-bg-dark);
  padding-top: 40px;
}
main .gallery .gallery__title {
  color: var(--color-font-white);
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
  letter-spacing: 5px;
  text-transform: uppercase;
}
main .gallery .gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, #000));
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 10%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, #000));
          mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 10%);
  overflow: hidden;
  height: 757px;
}
main .gallery .gallery__items .gallery__items__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .gallery .gallery__items .gallery__items__column:first-child {
  padding-top: 50px;
}
main .gallery .gallery__items .gallery__items__column img {
  width: 178px;
}
main .gallery .gallery__items .gallery__items__column img:not(:first-child) {
  padding-top: 24px;
}
main .tickets {
  margin: 40px 0;
}
main .tickets .tickets_article__title {
  color: var(--color-font-gold);
  font-family: Forum, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main .tickets .tickets_order {
  text-align: center;
}
main .tickets .tickets_order .tickets_order__image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .tickets .tickets_order .tickets_order__amount {
  color: var(--color-font-black);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}
main .tickets .tickets_order .tickets_order__plan {
  padding-top: 20px;
  max-width: 175px;
  margin: 0 auto;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__plan_name {
  color: var(--color-font-black);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid var(--color-font-black);
  padding: 6px 15px;
  margin-top: 15px;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter .tickets_order__counter__button {
  color: var(--color-font-black);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: transparent;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter .tickets_order__counter__value {
  color: var(--color-font-black);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
main .tickets .tickets_order .tickets_order__order_price {
  color: var(--color-font-black);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 40px 0;
}
main .tickets .tickets_order .tickets_order__order_button {
  color: var(--color-font-white);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 2px;
  background: var(--color-bg-dark);
  padding: 16px 48px;
}