:root {
  --index: 1vw + 1vh;
  --color-bg-dark: #030303;
  --color-dark-red: #710707;
  --color-font-gold: #9d8665;
  --color-font-white: #fff;
  --color-font-black: #000;
  --link-hover-color: #9d8665;
  --link-active-color: #7e6c51;
  --button-hover-color: #9d8665;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body:has(#navigation_burger_menu__toggle:checked),
body:has(#modal-btn:checked) {
  overflow: hidden;
}

.overflow_y_hidden {
  overflow: hidden;
}

.container {
  padding-inline: 20px;
}

.hr_divider_long {
  width: 380px;
  height: 3px;
  background-color: var(--color-dark-red);
  border: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hr_divider_short {
  width: 150px;
  height: 2px;
  background-color: var(--color-dark-red);
  border: 0;
  margin: 10px 0;
}

.title_primary {
  color: var(--color-font-gold);
  font-family: Forum, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
}

.logo_primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-font-white);
  font-family: Forum, sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
}
.logo_primary img {
  width: 29px;
  height: 16px;
  margin-right: 25px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.socials .socials__icon {
  border-radius: 50px;
  border: 1px solid #666;
  -webkit-box-shadow: 0px 0px 0px 0px #666;
          box-shadow: 0px 0px 0px 0px #666;
  padding: 12px;
}

header {
  display: none;
  background-color: var(--color-bg-dark);
}
header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px;
  position: relative;
}
header .header-navigation .navigation-list {
  display: none;
}
header .header-navigation .navigation_burger_menu {
  width: 32px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 45%;
}
header .header-navigation .navigation_burger_menu #navigation_burger_menu__toggle {
  opacity: 0;
  width: 32px;
  height: 100%;
  margin-top: -10px;
}
header .header-navigation .navigation_burger_menu #navigation_burger_menu__toggle:checked + .navigation_burger_menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-navigation .navigation_burger_menu #navigation_burger_menu__toggle:checked + .navigation_burger_menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
header .header-navigation .navigation_burger_menu #navigation_burger_menu__toggle:checked + .navigation_burger_menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
header .header-navigation .navigation_burger_menu #navigation_burger_menu__toggle:checked ~ .navigation_burger_menu__list {
  right: 0;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  margin-top: -10px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn > span, header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn > span::before, header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn > span::after {
  position: absolute;
  top: 10px;
  width: 32px;
  height: 2px;
  background-color: var(--color-font-white);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn > span::before {
  content: "";
  top: -8px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__btn > span::after {
  content: "";
  top: 8px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list {
  position: fixed;
  top: 90px;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 35px 55px;
  background-color: var(--color-bg-dark);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list li:not(:first-child) {
  margin-top: 25px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list .navigation_burger_menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  color: var(--color-font-white);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list .navigation_burger_menu__item:hover {
  color: var(--button-hover-color);
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list .navigation_burger_menu__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}
header .header-navigation .navigation_burger_menu .navigation_burger_menu__list .navigation_burger_menu__divider {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  margin-block: 20px 25px;
}
header .hero-section {
  padding-top: 5px;
}
header .hero-section .hero__title {
  color: var(--color-font-white);
  text-align: center;
  font-family: Forum, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 5px;
}
header .hero-section .hero__subtitle {
  color: var(--color-font-white);
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 25px;
}
header .hero-section .hero_slider {
  padding-top: 50px;
  padding-bottom: 20px;
}
header .hero-section .hero_slider .hero_slider__image {
  margin: 0 auto;
  width: 100%;
  height: 285px;
}
header .hero-section .hero_slider .hero_slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
header .hero-section .hero_slider .hero_slider__controls .hero_slider__controls__slide_num p {
  color: var(--color-font-white);
  font-weight: 400;
  line-height: 40px;
}
header .hero-section .hero_slider .hero_slider__controls .hero_slider__controls__pagination {
  margin-left: 25px;
  margin-right: 25px;
}

main .virtual-tour {
  display: none;
  padding-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .virtual-tour .virtual_tour__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--index) * 2);
}
main .virtual-tour .virtual_tour__places .virtual-tour__item {
  max-width: 280px;
  padding-top: 40px;
}
main .virtual-tour .virtual_tour__places .virtual-tour__item .virtual-tour__item__img {
  width: 100%;
  height: 180px;
}
main .virtual-tour .virtual_tour__places .virtual-tour__item .virtual-tour__item__title {
  color: var(--color-font-black);
  font-family: Forum, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-top: 25px;
}
main .virtual-tour .virtual_tour__places .virtual-tour__item .virtual-tour__item__info {
  color: var(--color-font-black);
  font-weight: 200;
  line-height: 30px;
}
main .explore {
  display: none;
  background: var(--color-bg-dark);
  padding: 40px 0;
  margin-top: 40px;
}
main .explore .explore_picture_reveal {
  margin-top: 40px;
}
main .explore .explore_picture_reveal img {
  width: 380px;
  height: 368px;
}
main .video_journey {
  display: none;
  margin: 40px 0;
}
main .video_journey .video_journey__video {
  padding-top: 20px;
}
main .video_journey .video_journey__video img {
  width: 100%;
  height: 200px;
}
main .video_journey .video_journey__video_slider {
  padding-top: 40px;
}
main .video_journey .video_journey__video_slider .video_journey__video_slider__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .video_journey .video_journey__video_slider .video_journey__video_slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}
main .gallery {
  display: none;
  background: var(--color-bg-dark);
  padding-top: 40px;
}
main .gallery .gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, #000));
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 10%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, #000));
          mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 10%);
  max-height: 760px;
  overflow-y: scroll;
}
main .gallery .gallery__items .gallery__items__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .gallery .gallery__items .gallery__items__column:first-child {
  padding-top: 50px;
}
main .gallery .gallery__items .gallery__items__column img {
  width: 178px;
}
main .gallery .gallery__items .gallery__items__column img:not(:first-child) {
  padding-top: 24px;
}
main .tickets {
  margin: 40px 0;
  position: relative;
}
main .tickets .tickets_order {
  text-align: center;
}
main .tickets .tickets_order .tickets_order__image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .tickets .tickets_order .tickets_order__amount {
  color: var(--color-font-black);
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
}
main .tickets .tickets_order .tickets_order__plan {
  padding-top: 20px;
  max-width: 175px;
  margin: 0 auto;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__plan_name {
  text-align: left;
  color: var(--color-font-black);
  font-weight: 300;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid var(--color-font-black);
  padding: 6px 15px;
  margin-top: 15px;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter .tickets_order__counter__button {
  color: var(--color-font-black);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  border: none;
  background: transparent;
}
main .tickets .tickets_order .tickets_order__plan .tickets_order__counter .tickets_order__counter__value {
  color: var(--color-font-black);
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
main .tickets .tickets_order .tickets_order__order_price {
  color: var(--color-font-black);
  text-align: center;
  font-weight: 700;
  padding: 40px 0;
}
main .tickets .tickets_order .tickets_order__order_button {
  color: var(--color-font-white);
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 2px;
  background: var(--color-bg-dark);
  padding: 16px 48px;
  cursor: pointer;
}
main .tickets_modal {
  padding: 80px 30px 0 30px;
  width: 100vw;
  min-height: 100vh;
  background: #e4e4e4;
}
main .tickets_modal .tickets_modal__logo .tickets_modal__logo__image {
  width: 85px;
  height: 41px;
}
main .tickets_modal .tickets_modal__logo .tickets_modal__logo__title {
  font-size: 32px;
}
main .tickets_modal .tickets_modal__title {
  color: var(--color-dark-red);
  font-size: 18px;
  font-weight: 400;
}
main .tickets_modal .tickets_modal__divider {
  margin-top: 10px;
  width: 100%;
}
main .tickets_modal .tickets_model__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .tickets_modal .tickets_model__form .tickets_modal_input {
  border: 1px solid var(--color-font-black);
  width: 100%;
  height: 45px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px 13px;
}
main .tickets_modal .tickets_model__form select {
  border: 1px solid var(--color-font-black);
  width: 100%;
  height: 45px;
  padding-left: 45px;
  background-image: url(../../assets/img/modal_icons/ballot.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px 13px;
}
main .tickets_modal .tickets_model__form .tickets_modal_input__date {
  background-image: url(../../assets/img/modal_icons/date.png);
}
main .tickets_modal .tickets_model__form .tickets_modal_input__time {
  background-image: url(../../assets/img/modal_icons/time.svg);
}
main .tickets_modal .tickets_model__form .tickets_modal_input__name {
  background-image: url(../../assets/img/modal_icons/name.svg);
}
main .tickets_modal .tickets_model__form .tickets_modal_input__email {
  background-image: url(../../assets/img/modal_icons/email.svg);
}
main .tickets_modal .tickets_model__form .tickets_modal_input__phone {
  background-image: url(../../assets/img/modal_icons/tel.svg);
  background-position: 15px 8px;
}
main .contacts {
  padding-bottom: 40px;
}
main .contacts .contacts_parallax_image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .contacts .contacts_article {
  margin-top: 40px;
}
main .contacts .contacts_place_name {
  color: var(--color-font-black);
  font-weight: 500;
}
main .contacts .contacts_info {
  color: var(--color-font-black);
  font-weight: 300;
}
main .contacts .contacts_info .contacts_info__address {
  margin-top: 40px;
}
main .contacts .contacts_info .contacts_info__phone {
  margin-top: 15px;
}
main .contacts .contacts_info .contacts_info__mail {
  margin-top: 15px;
}
main .contacts .contacts_map img {
  margin-top: 40px;
  width: 100%;
  height: 248px;
}

footer {
  background-color: var(--color-bg-dark);
  padding-block: 40px;
}
footer .footer-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer_navigation {
  margin-top: 40px;
}
footer .footer_navigation ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 75px 1fr 75px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 30px;
}
footer .footer_navigation ul > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
footer .footer_navigation ul > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
footer .footer_navigation ul > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
footer .footer_navigation ul > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
footer .footer_navigation ul > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
footer .footer_navigation ul > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
footer .footer_navigation ul li a {
  color: var(--color-font-white);
  font-weight: 200;
  letter-spacing: 2px;
}
footer .footer_socials {
  margin-top: 40px;
}
footer .footer_divider {
  width: 100%;
  height: 3px;
  background-color: #666;
  border: 0;
  margin-block: 40px;
}
footer .footer_credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-font-white);
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
}